<form action="" [formGroup]="myForm">

    <div class="row">

        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Nombre app" type="text" formControlName="nombre">
                <!-- <mat-error *ngIf="nombre.invalid && nombre.touched"> Por favor, llenar el campo</mat-error> -->
            </mat-form-field>


            <mat-form-field>
                <input matInput type="text" formControlName="descripcion" placeholder="Descripcion">
            </mat-form-field>


            <mat-form-field>
                <input matInput type="text" formControlName="appUrl" placeholder="Url de app">
            </mat-form-field>

        </div>


        <div class="col-md-8">
            <button mat-raised-button color="primary" [disabled]="archivos.length === 0  && myForm.valid " (click)="agregarApp() ">Agregar</button>
            <button mat-raised-button color="warn" (click)="limpiar() ">Limpiar</button>
            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{ 'file-over': estaSobreElemento }" class="well drop-zone">
                <h4>Imagen app</h4>
                <img src="assets/imgs/upload.png" width=auto height=150>
            </div>
        </div>



    </div>


</form>